:root {
  --color-0: #ffffff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #cccccc;
  --color-5: #b2b2b2;
  --color-6: #9c9c9c;
  --color-7: #717171;
  --color-8: #595959;
  --color-9: #404040;
  --color-10: #2e2e2e;
  --color-11: #111111;
  --color-12: #000000;
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p3: #a66f00;
  --color-p4: #664400;
  --color-p5: #332200;
}

.color__0 {
  color: var(--color-0);
}

.color__1 {
  color: var(--color-1);
}

.color__2 {
  color: var(--color-2);
}

.color__3 {
  color: var(--color-3);
}

.color__4 {
  color: var(--color-4);
}

.color__5 {
  color: var(--color-5);
}

.color__6 {
  color: var(--color-6);
}

.color__7 {
  color: var(--color-7);
}

.color__8 {
  color: var(--color-8);
}

.color__9 {
  color: var(--color-9);
}

.color__10 {
  color: var(--color-10);
}

.color__11 {
  color: var(--color-11);
}

.color__12 {
  color: var(--color-12);
}

.color__p1 {
  color: var(--color-p1);
}

.color__p2 {
  color: var(--color-p2);
}

.color__p3 {
  color: var(--color-p3);
}

.color__p4 {
  color: var(--color-p4);
}

.color__p5 {
  color: var(--color-p5);
}
