/* 
   1. Calculo do line-height => lineHeight / quantidade de pixels; 
   2. Calculo do rem => quantidade de pixels / 16;
*/

.font__1__xxl {
  font: 600 4rem/1.125 'Poppins', sans-serif;
}

.font__1__xl {
  font: 600 2rem/1.25 'Poppins', sans-serif;
}

.font__1__l {
  font: 400 1.5rem/1.5 'Poppins', sans-serif;
}

.font__2__l {
  font: 400 1.5rem/1.5 'Roboto', sans-serif;
}

.font__2__l__b {
  font: 400 1.5rem/1.5 'Roboto', sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font__1__m {
  font: 400 1.125rem/1.33 'Poppins', sans-serif;
}

.font__1__m__b {
  font: 600 1.125rem/1.33 'Poppins', sans-serif;
}

.font__2__m {
  font: 500 1.125rem/1.33 'Roboto', sans-serif;
}

.font__1__s {
  font: 400 1rem/1.5 'Poppins', sans-serif;
}

.font__2__s {
  font: 400 1rem/1.5 'Roboto', sans-serif;
}

.font__2__xs {
  font: 400 0.875rem/1.42 'Roboto', sans-serif;
}

.font__1__xs {
  font: 600 0.75rem/1.33 'Roboto', sans-serif;
}

@media (max-width: 1200px) {
  .font__1__xxl {
    font-size: 3rem;
  }

  .font__2__l,
  .font__2__l__b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font__1__xxl {
    font-size: 2rem;
  }

  .font__1__xl {
    font-size: 1.5rem;
  }
}
